*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
hr
{
    margin: 1rem;
    min-width: 100%;
}
body
{
    background-color: rgb(100, 255, 183);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}
div
{
    display: flex;
	flex-direction: column;
    align-items: center;
}
h1
{
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    padding-bottom: 2rem;
}
h2
{
    font-size: 2.5rem;
    text-align: center;
    padding: 0.5rem

}
h3
{
    font-size: 1.8rem;
    text-align: center;
}
p
{
    font-size: 1.3rem;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    width: 99ch;
    text-align: justify;
    text-align: center;
}
ul
{
    list-style: none;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.8rem;
}
li
{
    display: inline-block;
    margin-inline: 4rem;
}
a
{
    color: rgb(255, 0, 225);
}
a:visited
{
    color: rgb(149, 0, 190);
}
a:hover
{
    color: rgb(255, 136, 0);
}
input
{
    font:inherit;
    
}
button
{
    font:inherit;
    margin: 1rem;
}
footer
{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;

}
#video-reel
{
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
#resume-download
{
    text-align: center;
    padding-top: 2rem;
}
